/* Sector Map Component Styles */

.sector-map-container {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  min-height: 0;
  overflow: hidden;
  background-color: #1a1a1a;
  position: relative;
  outline: none;
}

.sector-map-container svg {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: none;
}

